<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Morse Messenger!</title>
</head>
<body>
    <h1>Morse Messenger!</h1>
    <p>Enter a message into the form below, and it will be transmitted in morse form to an led on my coffee table! Video call me on Whatsapp and you can watch it for yourself.</p>

    <form action="/morse" method="POST">
        <label for="message">Message:</label>
        <input type="text" name="message" id="message">
        <input type="submit" value="Transmit Message!">
    </form>

</body>
</html>